<div class="row text-center" style="width:50%; margin:0 auto;">
	<h1 class="text-info">You've reached the end of the internet</h1>
	<hr />
	<a class="btn btn-outline-success" style="width:30%; margin:0 auto;" asp-controller="Movies" asp-action="Index">Home Page</a>
</div>